#root {
  max-width: 480px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  display: flex;
  max-width: 480px;
  margin: 0 auto;
}

.input-field {
  padding: 10px 12px;
  width: 100%;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 4px;
  font-size: 16px;
}

.btn {
  padding: 8px 20px;
  margin-left: 4px;
  border: transparent;
  color: white;
  border-radius: 4px;
  font-size: 16px;
}

.btn-add {
  background-color: rgb(0, 155, 0);
}

.btn-delete {
  background-color: rgb(233, 22, 7);
  font-size: 14px;
}

.btn-add:hover {
  background-color: rgb(25, 168, 25);
  cursor: pointer;
}

.btn-delete:hover {
  background-color: rgb(233, 51, 38);
  cursor: pointer;
}

.tasks-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgb(219, 219, 219);
}

.task-details {
  display: flex;
  align-items: center;
}

.no-tasks {
  font-weight: 400;
  color: rgb(138, 138, 138);
  font-size: 18px;
}
