#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  display: flex;
  max-width: 480px;
  margin: 0 auto;
}

.input-field {
  padding: 8px 12px;
  width: 100%;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 4px;
}

.btn {
  padding: 4px 16px;
  margin-left: 4px;
  border: transparent;
  background-color: rgb(0, 155, 0);
  color: white;
  border-radius: 4px;
}

.btn:hover {
  background-color: rgb(13, 163, 13);
  cursor: pointer;
}
